@import url(https://fonts.googleapis.com/css?family=Sansita+One);
  
p {
  font-family: Georgia;
  font-size: calc(16px + 0.25vw);
  line-height: 1.6;
}

p:first-child:first-letter {
  font-size: calc(60px + 0.75vw);
  line-height: 40px;
  color: indianred;
  float: left;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 5px;
    font-family: Sansita One;
}